<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-lg-4 col-md-5 col-sm-6 col-12">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let item of list"
        >
          {{ item.name }}
          <span class="badge badge-dark">{{ item.amount }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card border">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col-auto">
              <input class="form-control" type="text" placeholder="Search" />
            </div>
          </div>
        </div>

        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr class="bg-dark">
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Human Genome Sequencing</td>
                <td>Complex Genomics Analytics from human placenta DNA.</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-outline-dark">Issue DRT</button>
                </td>
              </tr>
              <tr>
                <td>National Survey Financial Analytics</td>
                <td>Household financial analysis over set categories of wealth brackets.</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-outline-dark">Issue DRT</button>
                </td>
              </tr>
              <tr>
                <td>Blood oxygen & EKG results</td>
                <td>Collection of data from cardio unit at HopX. Heart rates and blood oxygen versus age.</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-outline-dark">Issue DRT</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
