<!-- Brand Logo -->
<a href="#" class="brand-link">
  <img
    src="/assets/img/logo.png"
    alt="Ntls Logo"
    class="brand-image"
    height="33"
    width="33"
    rounded
  />
  <span class="brand-text font-weight-bold">NAUTILUS</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar Menu -->
  <nav class="mt-2" style="overflow-y: hidden">
    <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
      <app-menu-item
        *ngFor="let item of menu"
        [menuItem]="item"
      ></app-menu-item>
    </ul>
  </nav>
</div>
