<div class="modal-header">
  <h5 class="modal-title">{{ pool?.name }}</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ pool?.description }}</p>

  <div class="container-fluid px-0 pb-1">
    <em>Digital Rights</em>
    <div class="row">
      <div
        class="col-auto p-1"
        *ngFor="let drt of pool?.drt"
        [tooltip]="drt?.description"
        placement="bottom"
      >
        <button class="btn btn-sm btn-outline-secondary">
          {{ drt?.name || drt }}
        </button>
      </div>
    </div>
  </div>

  <ul
    class="list-group my-3"
    *ngIf="uploaderData.queue?.[0]?.file as file; else noData"
  >
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-2"
    >
      <span>
        <small class="badge badge-primary">Data file</small>
        <div>
          {{ file.name }}
        </div>
      </span>

      <button
        class="btn btn-sm mr-2 btn-outline-secondary"
        type="button"
        (click)="uploaderData.clearQueue()"
      >
        <i class="bi bi-trash-fill"></i>
      </button>
    </li>
  </ul>

  <ng-template #noData>
    <div class="form-group">
      <label>Select data file</label>
      <div class="input-group is-invalid">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            ng2FileSelect
            accept="application/json"
            [uploader]="uploaderData"
          />
          <label class="custom-file-label">Choose data...</label>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    [disabled]="uploaderData.queue.length === 0"
    (click)="joinPool()"
  >
    Join
  </button>
</div>
