<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-auto">
      <app-pool-wizard></app-pool-wizard>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col-auto">
              <input class="form-control" type="text" placeholder="Search" />
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr class="bg-dark">
                <th>Name</th>
                <th>Description</th>
                <th>Digital Rights</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="(poolDataQuery.selectAll() | async)?.length; else noData"
              >
                <tr *ngFor="let pool of poolDataQuery.selectAll() | async">
                  <td>{{ pool.name }}</td>
                  <td>{{ pool.description }}</td>
                  <td>
                    <span
                      class="badge badge-pill badge-dark mx-1"
                      [tooltip]="drt?.description"
                      *ngFor="let drt of pool.drt"
                    >
                      {{ drt?.name || drt }}
                    </span>
                  </td>
                  <td class="text-right">
                    <button
                      class="btn btn-sm btn-outline-dark"
                      (click)="openJoinPool(pool.id)"
                    >
                      Join Pool
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td colspan="4" class="text-center">No pools found</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
