<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-auto">
      <app-pool-wizard></app-pool-wizard>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card border">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col-auto">
              <input class="form-control" type="text" placeholder="Search" />
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr class="bg-dark">
                <th>Name</th>
                <th>Description</th>
                <th>Digital Rights</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>Human Genome Lab results</td>
                <td>Complex Genomics Analytics from human placenta DNA. Averages & Standard Deviations.</td>
                <td>Mean Averages, Standard Deviations</td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-outline-dark"
                    (click)="openJoinPool()"
                  >
                    Join Pool
                  </button>
                </td>
              </tr>
              <tr >
                <td>National Survey Financial Analytics</td>
                <td>Household financial analysis showing averages on set categories.</td>
                <td>Mean Averages, Standard Deviations</td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-outline-dark"
                    (click)="openJoinPool()"
                  >
                    Join Pool
                  </button>
                </td>
              </tr>
              <tr >
                <td>Blood oxygen & EKG results</td>
                <td>Collection of data from cardio unit at HopX. Determine average hrate and blood oxygen across age.</td>
                <td>Mean Averages, Standard Deviations</td>
                <td class="text-right">
                  <button
                    class="btn btn-sm btn-outline-dark"
                    (click)="openJoinPool()"
                  >
                    Join Pool
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
