<div class="modal-header">
  <h5 class="modal-title">Redeem DRT</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Results</h5>
  <ng-container *ngIf="isStringResult(); else clusterResultTemplate">
    <table class="table">
      <thead>
        <tr class="bg-dark">
          <th>Result</th>
          <th>Pool</th>
          <th>Digital Right</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ selectedResult?.results }}</td>
          <td>{{ selectedResult?.name }}</td>
          <td>{{ selectedResult?.digital_right }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #clusterResultTemplate>
    <table class="table">
      <thead>
        <tr class="bg-dark">
          <th>Clusters</th>
          <th>K</th>
          <th>Pool</th>
          <th>Digital Right</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ getClusters(selectedResult?.results) }}</td>
          <td>{{ getK(selectedResult?.results) }}</td>
          <td>{{ selectedResult?.name }}</td>
          <td>{{ selectedResult?.digital_right }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>

<div class="modal-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-block btn-success">
          Download Results
        </button>
      </div>
    </div>
  </div>
</div>
