<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col-auto">
              <input class="form-control" type="text" placeholder="Search" />
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr class="bg-dark">
                <th>Name</th>
                <th>Description</th>
                <th>Digital Right</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="digitalRights?.length; else noData">
                <tr *ngFor="let drt of digitalRights">
                  <td>{{ drt.name }}</td>
                  <td>{{ drt.description }}</td>
                  <td>{{ drt.digital_right }}</td>
                  <td class="d-flex align-items-baseline">
                    <img
                      src="/assets/img/algorand_logo_mark_black.png"
                      width="12"
                    />{{ drt.price }}
                  </td>
                  <td class="text-right">
                    <button
                      class="btn btn-sm btn-outline-dark"
                      (click)="
                        buyDrt(
                          drt.id,
                          drt.name,
                          drt.description,
                          drt.digital_right
                        )
                      "
                    >
                      Buy
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td colspan="5" class="text-center">
                    There are currently no DRTs in the market.
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
