<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border">
        <div class="card-header bg-white">
          <div class="row">
            <div class="col-auto">
              <input class="form-control" type="text" placeholder="Search" />
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr class="bg-dark">
                <th>Name</th>
                <th>Description</th>
                <th>Digital Right</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngIf="digitalRights?.length; else noData">
                <tr *ngFor="let drt of digitalRights">
                  <td>{{ drt.name }}</td>
                  <td>{{ drt.description }}</td>
                  <td>{{ drt.digital_right }}</td>
                  <td class="text-right">
                    <button
                      class="btn btn-sm btn-outline-dark"
                      (click)="
                        redeemDrt(drt.name, drt.digital_right, drt.results)
                      "
                    >
                      Redeem
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td colspan="5" class="text-center">No data.</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
