<div class="modal-header">
  <h5 class="modal-title">Checkout</h5>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>{{ selectedDrtData?.digital_right }}</h5>
  <em>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rem vero
    ipsum non! Voluptates nam facilis reprehenderit tenetur deserunt. Eligendi
    officiis adipisci nulla exercitationem minima voluptates ex. Dolorem,
    temporibus adipisci?
  </em>
</div>

<div class="modal-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto align-self-center">
        <div class="d-flex align-items-baseline h4 m-0">
          <img src="/assets/img/algorand_logo_mark_black.png" width="17" />5.00
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-success"
          (click)="confirmPurchase()"
        >
          Confirm purchase
        </button>
      </div>
    </div>
  </div>
</div>
